/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}

.card{
  width: 100%;
  text-align: left;
  font-size: 13px;
  background-color: #c7c6c6;
  padding: 3px;
  margin-bottom: 6px;
}

.card__content{
  background-color: #e1e1e1;
}

.card__content--body{
  width: 31%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
}
.card__content--id{
  width: 10px;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
}
.card__content--category{
  width: 10%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
}
.card__content--title{
  width: 22%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
}
.card__content--state{
  width: 7%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
  border-right: solid 1px #5d5d5d;
}

.card__footer {
  text-align: right;
  display: inline-block;
}

.card__footer .card__footer--item {
  display:     inline-block;
  margin-left: 5px;
}

.card_footer {
  cursor: pointer;
}

.card__content--item{
  width: 31%;
  padding: 5px;
  display: inline-block;
  text-align: center;
  border-left: solid 1px #5d5d5d;
  border-right: solid 1px #5d5d5d;
}


