@import lib.model.Category
@import lib.model.Todo
@(todo: Todo#EmbeddedId, categories: Seq[Category#EmbeddedId], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv) {
    <div class = "detail" style ="background-color: @Category.ColorMap(categories.filter(category => category.v.id == todo.v.category_id ).map(_.v.color).head.toShort)">
        <div class = "detail__list">
            <div class = "detail__list--item">@todo.v.title</div>
            <div class = "detail__list--item">@todo.v.body</div>
            <div class = "detail__list--item">@categories.filter(category => category.v.id == todo.v.category_id ).map(_.v.name)</div>
            <div class = "detail__list--item">@todo.v.state</div>
        </div>
    </div>
    <h2>
        <a href = "/todo/list">Back To Todo List</a>
    </h2>
}
