
@import lib.model.Todo
@(todos: Seq[Todo#EmbeddedId], vv: model.ViewValueCommon)(implicit messageProvider: MessagesProvider, requestHeader: RequestHeader)
@common.Default(vv){
    <div class = "card">
        <div class = "card__content">
            <div class = "card__content--id">ID</div>
            <div class = "card__content--title">TITLE</div>
            <div class = "card__content--body">BODY</div>
            <div class = "card__content--category">CATEGORY</div>
            <div class = "card__content--state">STATUS</div>
        </div>
    </div>
    @for(todo <- todos) {
        <div class = "card" data-href = "@controllers.routes.TodoController.detail(todo.v.id.getOrElse(0))">
            <div class = "card__content">
                <div class = "card__content--id">@todo.v.id</div>
                <div class = "card__content--title">@todo.v.title</div>
                <div class = "card__content--body">@todo.v.body</div>
                <div class = "card__content--category">@todo.v.category_id</div>
                <div class = "card__content--state">@todo.v.state.name</div>

                <div class = "card__footer">
                    <div class = "card__footer--item">
                        @helper.form(action = controllers.routes.TodoController.detail(todo.v.id.getOrElse(0))) {
                            @helper.CSRF.formField
                            <input type="hidden" value="@todo.id" name="id">
                            <input type="submit" value="Detail">
                        }
                    </div>
                    <li class = "card__footer--item">
                        <a>Edit</a>
                    </li>
                    <li class = "card__footer--item">
                    @helper.form(action = controllers.routes.TodoController.remove) {
                        @helper.CSRF.formField
                        <input type="hidden" value="@todo.id" name="id">
                        <input type="submit" value="Remove">
                    }
                    </li>
                </div>
            </div>
        </div>
    }

    <div>
        <h2><a href = "/todo/registerForm">Register Form</a></h2>
    </div>
    <div>
        <h2><a href = "/">Back To Home</a></h2>
    </div>

}